fieldset {
    margin: 0 auto;
    width: 60vw;
    max-width: 600px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

h2 {
    font-size: 25px;
    margin: 5px;
    font-weight: 400;
}

h3 {
    font-size: 23px;
    margin: 5px;
    font-weight: 400;
}

fieldset input {
    border-bottom: 2px solid black;
    width: 35vw;
    max-width: 400px;
    margin: 3vh 0;
}

.double_row input {
    width: 15vw;
    max-width: 180px;
}

.double_row input:nth-child(2) {
    margin-left: 2vw;
}

.message {
    color: green;
    margin-top: -3vh;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* ボタン間のスペース */
}

.button {
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    max-width: 175px;
    height: 10vw;
    background-color: #e0e0e0;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d0d0d0;
}

.button img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-left: 5vw;
    width: 20px;
}

fieldset:nth-of-type(2) {
    text-align: left;
}

fieldset:nth-of-type(2) h3 {
    text-align: center;
}

.product-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 10px;
}

.product-info {
    flex: 1;
    text-align: left;
}

.product-info p {
    margin: 5px 0;
}

.quantity-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-input input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}