main {
    text-align: center;
}

main h1 {
    font-size: 36px;
    text-align: center;
    margin: 0 0;
}

.space {
    height: 20vh;
}

main button {
    padding: 10px 20px;
    background-color: red;
    border: gold solid 2px;
    border-radius: 1vw;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

main button:hover {
    background-color: #e1b20f;
}   

form {
    display: inline;
}

.product-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 10px;
}

.product-info {
    flex: 1;
    text-align: left;
}

.product-info p {
    margin: 5px 0;
}